<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/form" method="post">
        <div>
            <label for="name">Имя: </label>
            <input type="text" name="name" id="name", placeholder="Имя">
        </div>
        <div>
            <label for="Достижения">Достижения: </label>
            <input type="text" name="achievements" id="achievements", placeholder="Достижения">
        </div>
        <input type="submit" value="Отправить">
    </form>
</body>
</html>